.pricing-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
}

.pricing-plan{
    flex:1;
    max-width: 400px;
    padding: 20px;
    background-color: rgb(236, 221, 221);
    border-radius: 3px;
    text-align: center;
    
}

.plan-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.plan-price{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.plan-features{
    list-style: none;
    text-align: left;
    padding: 0;
    margin:0;
}

.plan-features li{
    margin-bottom: 20px;
}

.plan-button{
    padding:10px;
    background-color: rgb(217, 118, 143);
    border-radius: 3px;
    border: none;
    color:aliceblue;
}




    

/*
   
  
    
  

  
      .plan-features {
        list-style: none;
        padding: 0;
        margin: 0;
      }
  
      .plan-features li {
        margin-bottom: 20px;
      }
  
      .plan-button {
        padding: 10px;
        background-color: #ff6600;
        color: #fff;
        border-radius: 5px;
        border: none;
      }